/* Fonts Google */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Icons - Fontawesome */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css");

html {
  font-family: "Montserrat";
  font-size: 16px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* flexbox */

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  width: calc(25% - 10px);
  margin: 0 5px;
  background: white;
  margin-bottom: 10px;
}

.news-sec {
  height: 50vh;
  border: 1px solid white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.banner {
  width: 30%;
  height: 240px;
  background: greenyellow;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  background: white;
  margin-bottom: 10px;
}

.search {
  width: 30%;
}

nav {
  padding-right: 5%;
}

/* noticias */

.news-main {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.news-main article {
  width: 30%;
  padding: 2%;
  background: rgba(255, 255, 255, 0.374);
  border-radius: 15px;
  margin-bottom: 10px;
}
.news-main article img {
  width: 100%;
}

/* Responsive Design Media Queries
pequeños: <= 576px
medios: > 577px <= 768px
grande: > 769px <= 1200px
*/

/* small */
@media screen and (max-width: 576px) {
  body {
    background: rgb(204, 27, 27);
  }
  header {
    flex-wrap: wrap;
  }
  .logo {
    text-align: center;
    width: 100%;
  }
  .news-main {
    width: 100%;
    flex-direction: column;
  }
  .news-main article {
    width: 100%;
  }
}
/* medium */
@media screen and (min-width: 577px) and (max-width: 900px) {
  body {
    background: rgb(195, 69, 1);
  }
  .news-main {
    flex-wrap: wrap;
  }
  .news-main article:first-child {
    width: 100%;
  }
  .news-main article:first-child img {
    max-height: 200px;
    overflow-y: hidden;
  }
  .news-main article {
    width: 49%;
  }
}

/* large */
@media screen and (min-width: 901px) and (max-width: 1800px) {
  body {
    background: rgb(25, 5, 142);
  }
}
